.card-title{
    font-size: 40px;
    font-family: Veranda;
}

.bg-image{
    background-image: url(https://assets.classy.org/10934630/2370d262-ec55-11e9-85ac-0e5ae7f4dae8.jpg);
    background-size: cover;
    background-attachment: fixed;
    
}


.card{
    width: 55rem;
    margin-left: 1rem;
    margin-top: 1rem;
    padding: 1rem;
    
}

.card2{
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 0px; 
    left: 900px; 
    padding-right: 110px;
    padding-bottom: 50px;
    padding-left: 10px;
    
}

.card-body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;

}

#dropdownMenu2{
    background-color: white;
    color: rgb(73, 73, 73);
    width: 300px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    border: solid white;
    
}
.card-title{
    text-align: center;
    padding-bottom: 1rem;
}

.card-text1{
    font-weight: bold;
    font-size: 16px;
    font-family: Georgia;
    padding-bottom: 1rem;
}

.cardp1{
    line-height: 1.25rem;
    padding-bottom: 1rem;
    font-family: Georgia;
    font-size: 16px;
}

.cardp{
    line-height: 1.25rem;
    padding-bottom: 1rem;
    font-family: Georgia;
    font-size: 16px;
}

#paymenttype{
    float: left;
}

[itemid="one-time"] {
    width: 25rem;
    background-color: #0054A0;
    font-family: Georgia;
    font-size: 15px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 2px solid #0054A0;
    
}

[itemid="reccuring"] {
    width: 25rem;
    color: #0054A0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 2px solid #0054A0;
}

#paymenttype{
    margin-bottom: 1.5rem;
}

#chooseamount{
    display: inline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

#one-time{
    display: inline;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

#but1{
    width: 6rem;
    background-color: #0054A01F;    
    color: black;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    border: 2px solid #0054A0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 3px;

}
#but2{
    width: 6rem;
    background-color: #0054A01F;    
    color: black;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    border: 2px solid #0054A0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 3px;
}

#but3{
    width: 6rem;
    background-color: #0054A0;    
    color: white;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    border: 2px solid #0054A0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 3px;
}

#but4{
    width: 6rem;
    background-color: #0054A01F;    
    color: black;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    border: 2px solid #0054A0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 3px;
}


#dropdownMenuButton{
    background-color: white;
    color: black;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border: 2px solid rgb(87, 85, 85);
    
}


#exampleInputEmail1{
    width: 10rem;
    display: inline-block;
    padding: 10px;
    border: 2px solid rgb(87, 85, 85);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
}


.form-check{
    font-size: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: inline;
    padding: 0px 0px 0px 24px;
}

.form-check-label{
    font-size: 13px;
}

#inhonor{
    display: inline;
    font-weight: bold;
}



.card-body h5{
    display: inline;
    font-size: 24px;
    font: Verdana;
    font-weight: bold;
}

#inputAddress2{
    width: 25rem;
}

#inputlabel{
    width: 25rem;
}

.form-row select{
    width: 25rem;
}

#USD{
    float: right;
    color: black;
}

.tos .service{
    text-align: right;
    color: black;
}

.donate-buttons{
    text-align: right;
}

#gpay{
    width: 23.7%;
    
}

#paypal{
    padding-left: 125px; 
    text-align: center;  
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px; 
    color: #0054A0;
}

#venmo{
    padding-left: 125px; 
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: white;
}

#credit-card{
    padding-left: 70px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #0054A0;
}

#bank-transfer{
    padding-left: 45px; 
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #0054A0;
}

.service{
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 16px;
}

