

header{
    background-color: #0054a0;
    position: absolute;
    left: 0;
    right: 0;
    padding: 1.6rem 0;
    z-index: 100000;
    width: 100%;
}


nav{
text-align: right;
align-self: start;
}


.button {
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 1;
    text-align: center;
    color: #fff;
    background: #de9c19;
    border-radius: 5px;
    border: 1.5px solid transparent;
    padding: 1.3rem 1.4rem;
    cursor: pointer;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    
}




footer a {
    color: #888;
    text-decoration: none;
    position: relative;
     font-family: 10px Georgia, 'Times New Roman', Times, serif;

}



footer h3 {
    font-weight: 700;
    font-size: 1rem;
    line-height: 2.2;
    letter-spacing: 0.4px;
    color: #5a5a5a;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    margin-top: 3rem;
}

footer path{
    color: #0054a0;
}





