* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#hero {
    width: 100%;
    height: 100vh;
    background: url('YearUp Images/Home/heroheaders/studentshero.jpg') no-repeat center / cover;
    color: whitesmoke;
}

#hero h1 {
    margin-top: 75%;
    font-size: 4.0rem;
    font-weight: bolder;
}

#exploretraining {
    background-color: #f5f5f5;
    margin: 20px;
    margin-top: 20px;
    padding: 20px;
}

#exploretraining button {
    margin-top: -10px;
    font-weight: bolder;
    height: 60px;
    width: 200px;
    font-size: 1.2rem;
}


#exploretraining input {
    margin-left: 30px;
    padding: 15px;
    height: 60px;
    width: 660px;
    border-radius: 10px;
    font-size: 1.6rem;
}

#exploretraining h1 {
    margin-left: 30px;
    font-size: 2.2rem;
    font-weight: bolder;
}

#benefits h1 {
    font-weight: bolder;
    margin-top: 10px;
}

#benefits svg {
    height: 80px;
    width: 80px;
    margin-top: 30px;
}

#benefits h2 {
    margin-top: 20px;
    font-weight: bold;
    font-size: 1.4rem;
}

#benefits p {
    margin-top: 15px;
    max-width: 600px;
    font-size: 1.1rem;
}





.container-header{

    background-color:transparent #0054a0; 
    width:80%;
    margin: 0 auto;
    }
    
    
    .Nav-logo{
    padding-top: 20px;
    padding-bottom: 20px;
    float: left;
    }
    
    header::after{
    content: "";
    display: table;
    clear: both
    }
    
    nav{
    float: right; 
    
    }
    header{
    background-color:#0054a0;
    word-spacing: normal;
    }
    
    nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    
    }
    
    nav li{
    
    display: inline-block;
    margin-left: 20px; 
    padding: 20px;
    padding-bottom: 20px;
    
    }
    
    nav ul > li > a{
    color: white; 
    text-decoration: none;
    font-size: 14px;
    
    position: relative;
    
    }
    
    nav a:hover{
    color: #de9c19;
    }
    
    
    .button {
    
    text-transform: uppercase;
    
    color: #fff;
    background: #de9c19;
    border-radius: 5px;
    border: 1.5px solid transparent;
    padding: 10px;
    
    
    }


footer a {
    color: #888;
    text-decoration: none;
    position: relative;
     font-family: 10px Georgia, 'Times New Roman', Times, serif;

}



footer h3 {
    font-weight: 700;
    font-size: 1rem;
    line-height: 2.2;
    letter-spacing: 0.4px;
    color: #5a5a5a;
    text-transform: uppercase;
    margin-bottom: 1.6rem;
    margin-top: 3rem;
}

footer path{
    color: #0054a0;
}


#info-header{
    color: black;
    font-size: 36px;
    font-family: Helvetica;
    font-weight: bolder;
    margin: 0px 0px 10px;
}

.info-text{
    color: #444444;
    font-family: Helvetica;
    font-size: 15px;
    margin: 0px 0px 10px;
}

#exampleFormControlInput1{
    color: #444444;
    font-family: sans-serif;
    font-size: 16px;
    margin-bottom: 50px;
    

}

#request-button{
    background-color: #EEEEEE;
    color: #444444;
}

#invalid{
    color: #FF0126;
    font: 16px;
    font-family: sans-serif;
    font-weight: bold;
}

#student-services{
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-top: 40px;
}

.col-6 img{
    max-width: 100%;
    height: auto;
}

#text-align{
    padding-top: 15px;
    text-align: center;
}

.col-6 button{
    font-weight: bold;
    color: white;
    margin-top: 20px;
}

.form{
    text-align: left;
}


.p-5 #changeText{
    text-align: left;
    font-size: 36px;
    font-family: "Gotham A", "Gotham B", Helvetica, sans-serif;
    padding-bottom: 20px;
  
      
  }
  
   .p-5 .col-md-6 > p{
  
    font-family: "Gotham A", "Gotham B", Helvetica, sans-serif;
    color: #0054A0;
    text-decoration-line: underline;
    background-color: #F9FAFC;
    font-weight: bolder;
    font-size: 15px;
    border-radius: 5x; 
    border-spacing: 0;
   
   
  }
  
  .p-5 #h4Header{
     
      font-size: 20px;
      font-family: "Gotham A", "Gotham B", Helvetica, sans-serif;
      font-weight: lighter;
      padding-bottom: 20px;
  
  }